<section class="bestsellers container">
      <div class="section-title" style="justify-content: center;">
        <h2>Our Bestsellers</h2>
      </div>
      
      <div class="grid bestsellers-grid">
        <div class="product-card" *ngFor="let prod of products">
          <div class="img-wrapper">
            <img [src]="prod.image" [alt]="prod.name" class="product-img">
          </div>
          <div class="product-info">
            <h4 class="product-title">{{ prod.name }}</h4>
            <p class="product-desc">{{ prod.desc }}</p>
            <p class="product-price">\${{ prod.price }}</p>
          </div>
        </div>
      </div>
    </section>
