<section class="hero container">
  <img class="hero-bg" src="https://images.unsplash.com/photo-1623832049964-bce2c262a0ed?q=80&w=1920&auto=format&fit=crop" alt="Alienware M16 Background">
  <div class="hero-overlay"></div>
  
  <div class="hero-content">
    <span class="subtitle">Latest release</span>
    <h1 class="title">Alienware M16</h1>
    <p class="discount">UP TO 20% DISCOUNT</p>
    <a routerLink="/product/alienware-m16" style="cursor: pointer; text-decoration: none; display: inline-flex;" class="btn-primary flex items-center gap-2">
      Shop Now <span class="material-icons" style="font-size: 1.1rem">arrow_forward</span>
    </a>
  </div>
</section>
