<footer class="footer">
      <div class="container flex justify-between items-center">
        <div class="logo" routerLink="/" style="cursor: pointer;">Nexus</div>
        <p class="copyright">&copy; 2026 Nexus Commerce. All rights reserved.</p>
        <div class="social flex gap-4">
          <a href="#" class="material-icons">facebook</a>
          <a href="#" class="material-icons">camera_alt</a>
          <a href="#" class="material-icons">email</a>
        </div>
      </div>
    </footer>
